.mini-photo {
  width: 100px;
  height: 100px;
}
.price {
  color: gray;
}

.name {
  font-weight: 900;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

@media (min-width: 320px) {

}

@media (min-width: 961px) {
  .name {
    font-size: 24px;
  }

  .show-product-button,
  .delete-product-button {
    float: right;
    margin: -5% 0 0 0;
  }

  .price {
    margin-left: 10px;
  }
  .available,
  .unavailable {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {

}
